<mat-grid-list cols="3" rowHeight="2:1" gutterSize="5px">
    <mat-grid-tile-header>
        <h2>Dashboard</h2>
        <h4>Total Receipts: {{ totalReceipts }}</h4>
      </mat-grid-tile-header>
      <mat-grid-tile *ngFor="let category of categories" [ngStyle]="{'background': category.color}">
        <a mat-raised-button
          routerLink="/receipts/category/{{category.value}}"
          routerLinkActive="mat-accent"
          [matBadge]="getCategoryCount(category.value)" matBadgePosition="after" matBadgeColor="accent"
        >{{category.viewValue}}</a>
      </mat-grid-tile>
</mat-grid-list>
